:root {
    --color-primary:#F9A826;
    --color-secondary:#fff5f5;
    --color-terciary:rgba(249, 182, 151, 0.8);
    --color-black:#000;
    --color-gray:#718096;
    --color-backFilter:rgba(247,247,247,.3);
    --color-feature:#F7D08A;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav.navbar{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

}
.wrapper__nav {
    backdrop-filter:saturate(180%) blur(27px);
    background: var(--color-backFilter);
    z-index: 1;
    position: fixed;
    width: 100%;

}

div.imagen_titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


a.info{
    margin: 15px;
    text-decoration: none;
    color: var(--color-gray);
    font-weight: 600;
}

.text__logo{
    margin-left: 30px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color-black);
}


.info:hover{
    color: var(--color-primary);
}
.info:active{
    color: var(--color-terciary);
}

.container_wrapper {
    max-width: 1280px;
    margin: auto;
}

.container_hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    padding: 10rem 0 5rem 0;
}


.wrapper__heroImage {
    width: 600px;
    max-width: 100%;
}
.wrapper__heroImage img {
    width: 100%;
}
.title {
    position: relative;
}
.wrapper_hero {
 max-width: 600px;
}
.wrapper_text {
    font-weight: 700;
    font-size: 40px;
}

.title::after{
    content: '';
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--color-primary);
    z-index: -1;
}
.sub_title {
    color: var(--color-primary);
}
.hero_description{
    padding-top: 36px;
    color: var(--color-gray);
    font-size: 18px;
    max-width: 400px;
}


.aboutCompany{
    display:grid;
    grid-template-columns:minmax(min-content, 35rem) minmax(min-content, 550px);
    gap: 1rem;
    place-content: center;
    padding: 6rem 0 ;
}


.aboutCompany img{
    border-radius: 15px;
}


.imgs_one,.imgs_three ,.imgs_two{
    position: relative;
}

.texto_imgsOne , .texto_imgsTwo, .texto_imgsThree{

    color: var(--color-gray);
    padding: 12px;
    width: max-content;
    background: var(--color-feature);
    color: var(--color-secondary);
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.imgs_one{
    grid-row: 1/3;
    margin: auto 0 ;
}

.imgs_one img{

    height: auto;
    position: relative;
}


.imgs_two img{
    width: 100%;
    position: relative;
}

.imgs_one figure {
    width: 35rem;
    max-width: 100%;
    height: auto;
}
.imgs_two figure ,.imgs_three figure{
    width: 550px;
    height: auto;
    max-width: 100%;
}

.imgs_one img ,.imgs_two img, .imgs_three img{

    width: 100%;
}

.aboutCompany figure::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: var(--color-terciary);
    filter: blur(128px);
    z-index: -1;
    border-radius: 50%;
}


.features{
    display:flex;
    justify-content: space-between;
    text-align: center;
    padding: 6rem 0;
}

.features .section__figure {
    position: relative;
}

.section__figure::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    filter: blur(75px);
    z-index: -1;
    border-radius: 50%;
    background: var(--color-feature);
}
.features img{
    width: 200px;
    height: 200px;
}

.features div{
    margin: 20px;
}

.features h3{
    margin: 30px 0;
}
.features p {
    max-width: 310px;
}

footer{
    background: var(--color-secondary);
}
.footer__wrapper {
    max-width: 1280px;
    margin: auto;
    padding: 24px;
}

footer p {
    color: var(--color-gray)
}

.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--color-secondary);
}
.contact__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
}
.contact__text p {
    text-transform: uppercase;
    font-size: 14px;
}
.socialNetwork {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.socialNetwork__images {
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:1024px){
    .container_hero {
        flex-wrap: wrap;
        gap: 60px;
    }
}

@media (max-width:1024px){
    .aboutCompany{
        grid-template-columns: minmax(max-content,300px);
        gap: 60px;
    }
}
@media (max-width:720px){
    .aboutCompany {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media (max-width:1024px){
    .features {
        flex-wrap: wrap;
        gap: 60px;
        justify-content: center;
    }
}

@media (max-width:720px){
    .contact {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 36px;
    }
    .socialNetwork {
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;
    }
}

@media (max-width:720px){
    .container_wrapper {
        padding: 24px;
    }
}
@media (max-width:720px){
    .text__logo {
        font-size: 14px;
        margin-left: 15px;
    }
    a.info {
        font-size: 14px;
        margin: 0 0 0 10px;
    }

    nav.navbar {
        flex-wrap: wrap;
        justify-content: center;
    }
}
