/* Estilos generales */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Estilos para la segunda parte del Section */
.three_imgs{
    display:grid;
    /* Espacio que va a abarcar */
    grid-template-columns: repeat(2, 1fr);
    /* Espaciado entre las grillas */
    gap: 1rem;
    padding: 2rem 6rem 2rem 7rem;
}

.three_imgs img{
    border-radius: 15px;
    filter: brightness(30%);
}

/* Img 1 */

.imgs_one{ 
    /* lineas que va a ocupar */
    grid-row: 1/3;
    position: relative;
}

.imgs_one img{
    width: 35rem;
    height: 40rem;
}

.texto_imgsOne{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

/* Img 2 */

.imgs_two{ 
    position: relative;
}

.imgs_two img{
    width: 550px;
    height: 310px;
}

.texto_imgsTwo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -25%);
    color: #fff;
}

/* Img 3 */

.imgs_three{ 
    position: relative;
}

.imgs_three img{ 
    width: 550px;
    height: 310px;
}

.texto_imgsThree{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -25%);
    color: #fff;
}

/* Estilos para la tercer parte de la Section */
.parts_three{
    display:flex;
    justify-content: space-between;
    text-align: center;
    padding: 6rem;
}

.parts_three img{
    background-color: #E6E6E6;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.parts_three div{
    margin: 20px;
}

.parts_three h3{
    margin: 30px 0;
}