:root {
    --color-primary:#E7816B;
    --color-secondary:#fff5f5;
    --color-black:#000;
}
*{
    margin: 0;
    padding: 0;
}

nav.navbar{
    width: auto;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    max-width: 1280px;
}

div.imagen_titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    width: 120px;
    height: 120px;
}

h1{
    margin-left: 30px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color-black);
}

a.info{
    margin: 15px;
    text-decoration: none;
    color: var(--color-black);
}

.info:hover{
    color: var(--color-primary);
}
.info:active{
    color: chartreuse;
}

.container_wrapper {
    max-width: 1280px;
    margin: auto;
}

.svg_hero {
    width: 604px;
    height: 450px;
    color: var(--color-secondary);
    position: absolute;
}
.container_hero {
    position: relative;
}
/* Estilos para la segunda parte del Section */
.three_imgs{
    display:grid;
    grid-template-columns: 35rem 550px;
    /* Espaciado entre las grillas */
    gap: 1rem;
    place-content: center;
}

.three_imgs img{
    border-radius: 15px;
    filter: brightness(30%);
}


.imgs_one,.imgs_three ,.imgs_two{
    position: relative;
}

.texto_imgsOne , .texto_imgsTwo, .texto_imgsThree{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* Img 1 */

.imgs_one{
    grid-row: 1/3;
}

.imgs_one img{
    width: 35rem;
    height: 40rem;
    /* position: relative; */
}


/* Img 2 */


.imgs_two img{
    width: 550px;
    height: 310px;
}

/* Img 3 */


.imgs_three img{
    width: 550px;
    height: 310px;
}

/* Estilos para la tercer parte de la Section */
.parts_three{
    display:flex;
    justify-content: space-between;
    text-align: center;
    padding: 6rem;
}

.parts_three img{
    background-color: #E6E6E6;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.parts_three div{
    margin: 20px;
}

.parts_three h3{
    margin: 30px 0;
}